<!DOCTYPE html>
<html lang="en">
<head>
 <title>Bootstrap Example</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<div class="container bg-danger">
<br>
   <div class="jumbotron">
   <h1 style = "text-align:center;">Csi Django BLog</h1>       
   </div>
</div>
<br>
<div class="container">
   {% block content %}
   {% endblock %}
       <a style="display:block" class="center-align" href="/admin">Admin Login</a>
 
</div>
 
{% comment %} <div class="container bg-success">
   <h2>Posts<h2>
</div> {% endcomment %}
 
 
</body>
</html>
